<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CSBAEntities" connectionString="metadata=res://*/CSBA.csdl|res://*/CSBA.ssdl|res://*/CSBA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=csbadb.database.windows.net;initial catalog=CSBA;persist security info=True;User ID=CSBA;password=Circuit1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
                 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AspNetProviderConnectionString" connectionString="Data Source=csbadb.database.windows.net;Initial Catalog=CSBA;Persist Security Info=True;User ID=CSBA;Password=Circuit1" providerName="System.Data.SqlClient"
                 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CSBAConn" connectionString="Data Source=csbadb.database.windows.net;Initial Catalog=CSBA;Persist Security Info=True;User ID=CSBA;Password=Circuit1" providerName="System.Data.SqlClient"
                 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>