<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CSBAEntities" connectionString="metadata=res://*/CSBA.csdl|res://*/CSBA.ssdl|res://*/CSBA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMEDAPGR101375\SQLEXPRESS;initial catalog=CSBA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AspNetProviderConnectionString" connectionString="Data Source=AMEDAPGR101375\SQLEXPRESS;Initial Catalog=CSBA;Integrated Security=True" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CSBAConn" connectionString="Data Source=AMEDAPGR101375\SQLEXPRESS;Initial Catalog=CSBA;Integrated Security=True" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>

<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="IDP.MySettings.cnImpersonate" connectionString="Data Source=AMEDDBAPGR52;Database=idp;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IDP.MySettings.cnIDP" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=IDP;Data Source=AMEDDBAPGR52" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IDP.MySettings.cnTimeTrack" connectionString="Data Source=AMEDDBAPGR52;Database=TimeTrack;UserID=IdpUser;Password=7810*EUq;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IDP.MySettings.DBConn_Personnel" connectionString="Data Source=AMEDDBAPGR52;Database=Personnel;Integrated Security=SSPI;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DbConn_Allsystem" connectionString="Persist Security Info=False;Initial Catalog=AllSystems;Data Source=ameddbapgr60;User ID=idIDP_Emailer_DEV;Password=idIDP_Emailer_DEV_Password99" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)">
      <assemblies>
        <add assembly="PhcShared, Version=3.3.7.0, Culture=neutral, PublicKeyToken=7c6b24a84e3eeb62"  xdt:Transform="Replace" />
      </assemblies>
    </compilation>

    <roleManager enabled="true" defaultProvider="PhcEramRoleProvider">
      <providers >
        <clear/>
        <add name="PhcEramRoleProvider"
       type="USAPHC.Web.Security.EramRoleProvider, PhcShared, Version=3.3.7.0, Culture=neutral, PublicKeyToken=7c6b24a84e3eeb62"
       recourceCode="IDP"
       environment="chppmdevelopment"
       manageRoleMembership="false"
       proponentRole="Proponents"
       hideProponentRole="true"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </providers>
    </roleManager>
  </system.web>

  <applicationSettings>
    <IDP.MySettings>

      <setting name="ReportBasePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>/Development/IDP/</value>
      </setting>

      <setting name="TestMode" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>True</value>
      </setting>
    </IDP.MySettings>
  </applicationSettings>

</configuration>
